header {
  width: 100vw;
  background-color: #f5efe8;
}

.header__contents {
  width: 100%;
  height: 70px;
  max-width: 1240px;
  margin: 0 auto;
  padding: 0 30px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__contents > .sitemap {
  display: flex;
  align-items: center;
  gap: 20px;
}

.sitemap__bar > i {
  font-size: 30px;
}

.logo__album {
  width: 220px;
}

.logo__album > img {
  width: 100%;
  object-fit: cover;
}

.main-navigation {
  display: flex;
  gap: 50px;
  font-weight: bold;
}

.search {
  display: flex;
  align-items: center;

  border: 3px solid black;
  border-radius: 30px;
  padding: 10px;
}

.search > input {
  all: unset;
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  font: inherit;
}

.search > img {
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .header__contents {
    max-width: 680px;
  }

  .sitemap__bar > i {
    font-size: 18px;
  }

  .logo__album {
    width: 120px;
  }

  .main-navigation {
    gap: 15px;
    font-size: 13px;
    font-weight: bold;
  }

  .search {
    padding: 3px 7px;
    border: 1.5px solid black;
  }

  .search > input {
    width: 80px;
  }

  .search > img {
    width: 18px;
  }
}
