.management {
  width: 100vw;
  background-color: #1e1e1e;
  padding-bottom: 50px;
}

.management__contents {
  width: 100%;
  max-width: 1240px;
  margin: 0 auto;

  display: flex;
  align-items: center;
  justify-content: center;
}

.button__box {
  width: fit-content;
  border-radius: 999px;
  background-color: #8f8f8f;

  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 70px;
  gap: 50px;

  position: sticky;
}

.button__box > a {
  border: none;
  border-radius: 999px;
  color: white;
  background-color: black;

  font-size: 20px;
  font-weight: bold;

  padding: 15px 20px;
}

.button__box > .hover-black {
  background-color: transparent;
  transition: all 0.5s;
}

.button__box > .hover-black:hover {
  background-color: black;
}

@media screen and (max-width: 768px) {
  .management__contents {
    max-width: 680px;
  }

  .button__box {
    padding: 10px 50px;
    gap: 30px;
  }

  .button__box > a {
    font-size: 12px;

    padding: 15px;
  }
}
