.musicplay__video {
  width: 100vw;
  background: linear-gradient(to bottom, #efe5d9 70%, #1e1e1e 30%);
}

.video__contents {
  width: 100%;
  max-width: 1240px;
  margin: 0 auto;
  padding: 130px 0;

  display: flex;
  justify-content: center;
}

.video__contents > iframe {
  border-radius: 30px;
}

@media screen and (max-width: 768px) {
  .video__contents {
    max-width: 680px;
  }

  .video__contents > iframe {
    /* width: 560;
    height: 315; */
    border-radius: 10px;
  }
}
